<div class="container py-5 ">
  <div class="row gutters-sm py-3 ">
    <%@favorites.each do |favorite|%>
    <div class="col-md-3 mb-3 ">
      <div class="d-flex gap-1 flex-column justify-content-start align-items-start">
        <%= image_tag (favorite.image_url),alt: "Example Musics image" ,width:"200px",height:"200px"%>
        <b class="text-main m-0 bold mt-2"><%= favorite.name %></b>
        <p class="text-main m-0">Artist</p>
         <%= link_to  favorite_destroy_path(favorite.id) , data: { turbo_method: "delete" } do %>
                  <button class="btn btn-sm bg-main text-white"><i class="fa-solid fa-circle-minus text-danger"></i> Remove From Favorites</button>
        <% end %>
      </div>
    </div>
       <% end %>
 
  </div>
   <%= will_paginate @favorites , renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
