<footer class="footer mt-auto bg-main text-sec">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5 ">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-12 text-center text-lg-start">
        <div class="row">
          <div class="col-md-6 col-md text-start">
            <a class="navbar-brand" href="#">Disc<i class="fa-solid text-sec fa-compact-disc  o-icon"></i>tic</a>
            <small class="d-block mb-3 text-small text-start">© 2023</small>
          </div>
          <div class="col-md-6 ">
              <form class="p-4 p-md-3 border rounded-3 text-muted bg-main ">
          <div class="form-floating mb-3 text-muted">
            <input type="email" class="form-control form-control-sm " id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <button class="w-100 btn btn-sm btn-warning" type="submit">Subscribe to our newsletter</button>
        </form>
          </div>
        </div>
      </div>
      <div class="col-md-10 mx-auto col-lg-5 ">
     
      </div>
    </div>
  </div>
</footer>
