<div class="shadow-divider"></div>
<footer class="footer mt-auto bg-main text-sec">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5 ">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <div class="row">
          <div class="col-12 col-md">
            <a class="navbar-brand" href="#">Disc<i class="fa-solid text-sec fa-compact-disc  o-icon"></i>tic</a>
            <small class="d-block mb-3 text-small text-center">© 2023</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-white text-decoration-none" href="#">Cool stuff</a></li>
              <li class="mb-1"><a class="link-secondary text-white text-decoration-none" href="#">Random feature</a></li>
              <li class="mb-1"><a class="link-secondary text-white text-decoration-none" href="#">Team feature</a></li>
              <li class="mb-1"><a class="link-secondary text-white text-decoration-none" href="#">Stuff for developers</a></li>
              <li class="mb-1"><a class="link-secondary text-white text-decoration-none" href="#">Another one</a></li>
              <li class="mb-1"><a class="link-secondary text-white text-decoration-none" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-white text-decoration-none" href="#">Resource</a></li>
              <li class="mb-1"><a class="link-secondary text-white text-decoration-none" href="#">Resource name</a></li>
              <li class="mb-1"><a class="link-secondary text-white text-decoration-none" href="#">Another resource</a></li>
              <li class="mb-1"><a class="link-secondary text-white text-decoration-none" href="#">Final resource</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-10 mx-auto col-lg-5 ">
        <form class="p-4 p-md-3 border rounded-3 text-muted bg-main ">
          <div class="form-floating mb-3 text-muted">
            <input type="email" class="form-control form-control-sm " id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <button class="w-100 btn btn-sm btn-warning" type="submit">Subscribe to our newsletter</button>
        </form>
      </div>
    </div>
  </div>
</footer>
