<nav class="navbar navbar-expand-lg fixed-top text-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Disc<i class="fa-solid text-sec fa-compact-disc o-icon"></i>tic</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="input-group w-50  m-auto">
        <input type="text" class="form-control " placeholder="Album,title,artist..." aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn rounded-end bg-sec search-btn" type="button">Search</button>
        </div>
      </div>
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <% if user_signed_in?  %>
          <li class="nav-item dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-regular fa-circle-user"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item disabled" href="#"><%= current_user.email %> </a></li>
              <li><%= link_to raw('<i class="fa-solid fa-record-vinyl"></i> My Albums'), my_albums_url(1) ,class: 'dropdown-item' %></li>
              <li> <%= link_to raw('<i class="fa-solid fa-arrow-right-from-bracket"></i> Logout'), destroy_user_session_path,  data: {turbo_method: :delete} ,class: 'dropdown-item text-danger' %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", new_session_path(User), class:"btn btn-warning bg-sec" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
