<nav class="navbar navbar-expand-lg fixed-top text-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Disc<i class="fa-solid text-sec fa-compact-disc  o-icon"></i>tic</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="input-group w-50  m-auto">
        <input type="text" class="form-control " placeholder="Album,title,artist..." aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn rounded-end bg-sec search-btn" type="button">Search</button>
        </div>
      </div>
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Link</a>
        </li>
          <li class="nav-item">
          <button class="btn btn-warning bg-sec" type="submit">Login/Signup</button>
        </li>
      </ul>
     
    </div>
  </div>
</nav>
